body{
    background-color: white;
    margin:0px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    
}


div.title1 {
    font-size: 70px;
    font-weight: bold;
    line-height: 0.9;
    width:100%;
    /* outline: 2px blue; */
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    top:0;
    left:0;
    
}



div.title2 {
    font-size: 100px;
    font-weight: bold;
    /* outline: 2px blue; */
    font-family: Arial, Helvetica, sans-serif;
    transform: rotate(90deg) translateY(-174%);
    transform-origin: top left;
    position: fixed;
    top: 0;
    right: 0;
    margin-bottom: 20px;
}
div.intro {
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
}



span.one {
    color: black;
}

span.two  {
    color: transparent;
}

span.two:hover{
    color: black;
}

div.words {
    font-size: 11px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif
    
}








     
img{
    width: 100%;
    display: block;
}
div.row {
    display:flex;
    flex-wrap: wrap;
}

div.text {
    padding-top:300px ;
}

div.width100{
    width:100%;
}

div.width80{
    width:80%;
}

div.width75{
    width:75%;
}

div.wdith66{
    width: 66.666%;
}

div.width60{
    width:60%;
}

div.width50{
    width:50%;
}

div.width40{
    width:40%;
}



div.width{
    width:25%;
    
}

div.face{
width:20%;
background-size: cover;
}

div.red{
    width: 20%;
    background-color: rgb(9, 126, 75);
   
}

div.letter {
    font-size: 100px;
    width: 10%;
}


    


